@font-face {
    font-family: myFirstFont;
    src: url('GlacialIndifference-Regular.otf');
}

body, input {
	font-family: myFirstFont;
}

#leftnav
{
	float: left;
	width: 350px;
	height: 600px;
	margin: 0;
	top: 30px;
	left: 40px;
	padding: 0.5em;
	border: 1px solid black;
	position: relative;
}

h3 {
	text-align: center;
}


#content
{
	margin-left: 275px;
	border-left: 1px solid gray;
	margin-right: 250px;
	border-right: 1px solid gray;
	top: 30px;
	left: 140px;
	border: 1px solid black;
	position: relative;
	height: 700px;
}

table {
    width: 80%;
    height: 60%;
}

td, th {
	text-align: center;
    width: 10%;
    border-bottom: 1px solid #ddd;
}


